@model List<Category>
<h1>類別清單</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>類別名稱</th>
            <th>顯示順序</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.OrderBy(u=>u.DisplayOrder)){
            <tr>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary">編輯</a>
                        <a asp-controller="Category" asp-action="Delete" class="btn btn-danger">刪除</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>